# docker-compose.yaml for Mentor Hub developers edition
services:
  ##################################
  # Welcome Service
  ##################################
  welcome:
    image: ghcr.io/agile-learning-institute/mentorhub:latest
    ports:
      - "127.0.0.1:8080:80"
    profiles:
      - all
      - runbook
      - mongodb
      - profile
      - profile-api
      - mentor
      - mentor-api
      - member
      - member-api

  ##################################
  # Custom Runbook API Service (Deployed Profile)
  ##################################
  runbook-api:
    image: ghcr.io/agile-learning-institute/mentorhub_runbook_api:latest
    container_name: runbook_api
    working_dir: /opt/stage0/runner
    restart: no
    ports:
      - "127.0.0.1:8383:8383"
    environment:
      API_PORT: 8383
      ENABLE_LOGIN: "true"
      LOGGING_LEVEL: "INFO"
      JWT_SECRET: ${JWT_SECRET}
      GITHUB_TOKEN: ${GITHUB_TOKEN}
      SSH_KEY: ${SSH_KEY}
      MOUNT_DIR: ${MOUNT_DIR}
      UI_HEADER: "Mentor Hub Packaged Runbooks"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${MOUNT_DIR}:/execution 
    profiles:
      - all
      - runbook

  runbook-spa:
    image: ghcr.io/agile-learning-institute/stage0_runbook_spa:latest
    container_name: runbook_spa
    restart: no
    ports:
      - "127.0.0.1:8384:80"
    environment:
      API_HOST: runbook-api
      API_PORT: 8383
      IDP_LOGIN_URI: ${IDP_LOGIN_URI:-http://localhost:8384/login}
    depends_on:
      runbook-api:
        condition: service_started
    profiles:
      - all
      - runbook

  ##################################
  # Backing Services 
  ##################################
  # MongoDB backing service 
  mongodb:
    image: mongo:7.0.5
    ports:
      - "127.0.0.1:27017:27017"
    extra_hosts:
      - "mongodb:127.0.0.1"
    healthcheck:
      test: echo "db.runCommand('ping')" | mongosh --port 27017 --quiet
      interval: 5s
      timeout: 30s
      start_period: 0s
      retries: 3
    command: ["--bind_ip_all", "--port", "27017"]
    profiles:
      - all
      - mongodb
      - profile
      - profile-api
      - mentor
      - mentor-api
      - member
      - member-api

  ##################################
  # Mongo Database Configuration Utilities
  ##################################
  mongodb_api:
    image: ghcr.io/agile-learning-institute/mentorhub_mongodb_api:latest
    restart: no
    ports:
      - "127.0.0.1:8385:8385"
    environment:
      MONGO_CONNECTION_STRING: mongodb://mongodb:27017/
      MONGODB_REQUIRE_TLS: False
      MONGO_DB_NAME: mentor_hub
      AUTO_PROCESS: True
      LOAD_TEST_DATA: True
      API_PORT: 8385
      SPA_PORT: 8386
      UI_HEADER: "Mentor Hub MongoDB Configurations"
    depends_on:
      mongodb:
        condition: service_healthy
    profiles:
      - all
      - mongodb
      - profile
      - profile-api
      - mentor
      - mentor-api
      - member
      - member-api

  mongodb_spa:
    image: ghcr.io/agile-learning-institute/mongodb_configurator_spa:latest
    restart: no
    ports:
      - "127.0.0.1:8386:8386"
    environment:
      API_HOST: mongodb_api
      API_PORT: 8385
      SPA_PORT: 8386
    depends_on:
      mongodb_api:
        condition: service_started
    profiles:
      - all
      - mongodb
      - profile
      - profile-api
      - mentor
      - mentor-api
      - member
      - member-api

  ##################################
  # Profile Microservice 
  ##################################
  profile_api:
    image: ghcr.io/agile-learning-institute/mentorhub_profile_api:latest
    restart: no
    ports:
      - "127.0.0.1:8389:8389"
    environment:
      MONGO_CONNECTION_STRING: mongodb://mongodb:27017/
      MONGODB_REQUIRE_TLS: False
      MONGO_DB_NAME: mentor_hub
      ENABLE_LOGIN: "true"
      LOGGING_LEVEL: "INFO"
      JWT_SECRET: ${JWT_SECRET}
      API_PORT: 8389
    depends_on:
      mongodb_api:
        condition: service_started
    profiles:
      - all
      - profile
      - profile-api

  profile_spa:
    image: ghcr.io/agile-learning-institute/mentorhub_profile_spa:latest
    restart: no
    ports:
      - "127.0.0.1:8390:80"
    environment:
      API_HOST: profile_api
      API_PORT: 8389
      IDP_LOGIN_URI: ${IDP_LOGIN_URI:-http://localhost:8390/login}
    depends_on:
      profile_api:
        condition: service_started
    profiles:
      - all
      - profile

  ##################################
  # Mentor Microservice 
  ##################################
  mentor_api:
    image: ghcr.io/agile-learning-institute/mentorhub_mentor_api:latest
    restart: no
    ports:
      - "127.0.0.1:8391:8391"
    environment:
      MONGO_CONNECTION_STRING: mongodb://mongodb:27017/
      MONGODB_REQUIRE_TLS: False
      MONGO_DB_NAME: mentor_hub
      ENABLE_LOGIN: "true"
      LOGGING_LEVEL: "INFO"
      JWT_SECRET: ${JWT_SECRET}
      API_PORT: 8391
    depends_on:
      mongodb_api:
        condition: service_started
    profiles:
      - all
      - mentor
      - mentor-api

  mentor_spa:
    image: ghcr.io/agile-learning-institute/mentorhub_mentor_spa:latest
    restart: no
    ports:
      - "127.0.0.1:8392:80"
    environment:
      API_HOST: mentor_api
      API_PORT: 8391
      IDP_LOGIN_URI: ${IDP_LOGIN_URI:-http://localhost:8392/login}
    depends_on:
      mentor_api:
        condition: service_started
    profiles:
      - all
      - mentor

  ##################################
  # Member Microservice 
  ##################################
  member_api:
    image: ghcr.io/agile-learning-institute/mentorhub_member_api:latest
    restart: no
    ports:
      - "127.0.0.1:8393:8393"
    environment:
      MONGO_CONNECTION_STRING: mongodb://mongodb:27017/
      MONGODB_REQUIRE_TLS: False
      MONGO_DB_NAME: mentor_hub
      ENABLE_LOGIN: "true"
      LOGGING_LEVEL: "INFO"
      JWT_SECRET: ${JWT_SECRET}
      API_PORT: 8393
    depends_on:
      mongodb_api:
        condition: service_started
    profiles:
      - all
      - member
      - member-api

  member_spa:
    image: ghcr.io/agile-learning-institute/mentorhub_member_spa:latest
    restart: no
    ports:
      - "127.0.0.1:8394:80"
    environment:
      API_HOST: member_api
      API_PORT: 8393
      IDP_LOGIN_URI: ${IDP_LOGIN_URI:-http://localhost:8394/login}
    depends_on:
      member_api:
        condition: service_started
    profiles:
      - all
      - member
